.skills{
    font-size: 18px;
    text-decoration: underline;
}

.links{
    display: flex;
    
}

.links a{
    text-decoration: underline;
    color: gray;
    margin-top: 15.5px;
    margin-left: 15px;
}

ul{
    line-height: 30px;
}